.lineChartSvg{
    /* padding:20px; */
}

.tooltip {	
    position: absolute;
    top:0px !important;
    left:0px !important;		
    text-align: center;			
    width: 100px;					
    height: 100px;									
    fill: pink;
    stroke:black;
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
    display:flex;
    align-items: center;
    justify-content: center;
    opacity:0.8;		
}

.line-group{
    cursor: crosshair;
}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.tick line{
    stroke: lightsteelblue;
    opacity:0.5;
}
.tick text{
    fill:black;
}

.bottom .tick text{
    transform: translate(-1%, 4%) rotate(-75deg);
}

.y1,.y2,.y3{
    fill:red;
}