.lineChartSvg{
    /* padding:20px; */
}

div.tooltip {	
    position: absolute;
    /* top:0px !important;
    left:0px !important;		 */
    text-align: center;			
    width: 100px;					
    height: 50px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
    display:flex;
    align-items: center;
    justify-content: center;		
}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.tick line{
    stroke: lightsteelblue;
    opacity:0.5;
}
.tick text{
    fill:black;
}

.bottom .tick text{
    transform: rotate(-75deg);
  /* Legacy vendor prefixes that you probably don't need... */
  -webkit-transform: rotate(-75deg);
}

.y1,.y2,.y3{
    fill:red;
}